<%- include("partials/Header.ejs") %>

<div class="search-info row">
<h1 class="primary-txt mt-1">
    Search Results
</h1>

<% if (animeList.length === 0) {%>
    <p>no anime found</p>
<% } else { %>
    <div class="anime-results d-flex flex-wrap">
        
        <% animeList.forEach(show => { %>
            <div class="d-flex anime-card">
                
                <a href="/anime/<%= show.id %>"><img class="titleImg" src=" <%= show.title_img %>"></a>

            </div>
            <%=console.log(show.id)%>
            

        <% })}; %>
        
    </div>

</div>
<%- include("partials/footer.ejs") %>
